<div id="<%= dom_id blog %>">

  <div class="output">
    <strong><%= Blog.human_attribute_name(:title) %></strong>
    <%= blog.title %>
  </div>

  <div class="output">
    <strong><%= Blog.human_attribute_name(:category) %></strong>
    <%= blog.category.to_s.humanize %>
  </div>

  <div class="output">
    <strong><%= Blog.human_attribute_name(:content) %></strong><br>
    <%= blog.content %>
  </div>
</div>
