<p class="green-text"><%= notice %></p>

<div class="top">
  <h1>Blogs_name</h1> 
    <%= image_tag("/default_images/coming_soon.png", alt: "Top image") %>
</div>

<div class="blog_contents">
  <% @blogs.take(3).each do |blog| %>
    <%= render blog %>
    <div class="link">
      <%= link_to "Show this blog", blog %>
    </div>
  <% end %>
</div>

<div class="link">
<%= link_to "New blog", new_blog_path %>
</div>