<p class="green-text"><%= notice %></p>

<div class="top">
  <h1 class="blog_title">Blogs_name</h1> 
    <%= image_tag("/default_images/coming_soon.png", alt: "Top image") %>
</div>

<div class="blog_contents">
  <div class="contents">
    <h2 class="contents_title">blog_contents</h2>
    <div class="blogs_content">
      <% @blogs.order(created_at: :desc).each_slice(3) do |blogs| %>
        <% blogs.each do |blog| %>
          <div class="blog">
            <div class="title_output">
              <strong>タイトル:</strong>
              <%= link_to blog.title, blog %>
            </div>
            <div class="category_output">
              <strong>カテゴリー:</strong>
              <%= blog.category.to_s.humanize %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="admin_link">
    <%= link_to "Login", new_admin_session_path %>

    <% if Admin.count.zero? %>
      <%= link_to "Signup", new_admin_registration_path %>
    <% end %>
  </div>
</div>
