<p class="green-text"><%= notice %></p>

<div class="top">
  <h1 class="blog_title">Blogs_name</h1> 
    <%= image_tag("/default_images/coming_soon.png", alt: "Top image") %>
</div>

<div class="blog_contents">
  <h2 class="contents_title">blog_contents</h2>
    <% @blogs.take(3).each do |blog| %>
    <div class="blog_content">
      <%= render blog %>
      <div class="link">
        <%= link_to "Show this blog", blog %>
      </div>
    </div>
    <% end %>
</div>

<%# ここの記述は削除予定 %>
<div class="link">
  <%= link_to "New blog", new_blog_path %>
</div>
