<p class="green-text"><%= notice %></p>

<div class="top">
  <h1 class="blog_title"><%= t('views.common.blogs.blog_name', name: Blog.model_name.human) %></h1>
    <%= image_tag("/default_images/coming_soon.png", alt: "Top image") %>
</div>

<div class="blog_contents">
  <div class="contents">
    <h2 class="contents_title"><%= t('views.common.blogs.index', name: Blog.model_name.human) %></h2>
    <div class="blogs_content">
      <% @blogs.order(created_at: :desc).each_slice(3) do |blogs| %>
        <% blogs.each do |blog| %>
          <div class="blog">
            <div class="title_output">
              <strong><%= Blog.human_attribute_name(:title) %></strong>
              <%= link_to blog.title, blog %>
            </div>
            <div class="category_output">
              <strong><%= Blog.human_attribute_name(:category) %></strong>
              <%= blog.category.to_s.humanize %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="admin">
    <div class="login_or_signup">
      <div class="login">
        <% unless admin_signed_in? %>
          <%= link_to t('views.common.blogs.login', name: Admin.model_name.human.downcase), new_admin_session_path %>
        <% end %>
      </div>
      <div class="signup">
        <% if Admin.count.zero? %>
          <%= link_to t('views.common.blogs.sign_up', name: Admin.model_name.human.downcase), new_admin_registration_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
