<p style="color: green"><%= notice %></p>

<h1>Blogs</h1>

<% @blogs.each do |blog| %>
  <div id="<%= dom_id blog %>">
    <div class="output">
      <strong>Title:</strong>
      <%= link_to blog.title, blog %>
    </div>
    <div class="output">
      <strong>Category:</strong>
      <%= blog.category.to_s.humanize %>
    </div>
  </div>
<% end %>


<%= link_to "Login", new_admin_session_path %>

<% if Admin.count.zero? %>
  <%= link_to "Signup", new_admin_registration_path %>
<% end %>
