<div class="show_blog">
  <div class="show_content">
    <%= render @blog %>
    <div class="comment_from">
      <%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>
    </div>
    <div class="action_link">
      <% if current_admin %>
        <%= link_to t('views.common.blogs.blog_edit', name: Blog.model_name.human.downcase), edit_blog_path(@blog) %> |
        <%= link_to t('views.common.blogs.admin_back', name: Admin.model_name.human.downcase), admin_root_path %>
        <%= button_to t('views.common.blogs.blog_destroy', name: Blog.model_name.human.downcase), @blog, method: :delete %>
      <% else %>
        <%= link_to t('views.common.blogs.blog_back', name: Blog.model_name.human.downcase), root_path %>
      <% end %>
    </div>
  </div>

  <div class="comments">
    <h2 class="comments_title">Comments</h2>
    <%= render partial: 'comments/comment', locals: { comment: @comment, blog: @blog } %>
  </div>
</div>
