<p class="green-text"><%= notice %></p>

<div class="show_content">
  <%= render @blog %>
</div>

<div class="link">
  <%= link_to "Edit this blog", edit_blog_path(@blog) %> |
  <%= link_to "Back to blogs", blogs_path %>
</div>

<div class="button">
  <%= button_to "Destroy this blog", @blog, method: :delete %>
</div>

<div class="comments">
  <%= render partial: 'comments/comment', locals: { comment: @comment, blog: @blog } %>
</div>

<div class="comment_from">
  <%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>
</div>