<p style="color: green"><%= notice %></p>

<%= render @blog %>

<% if current_admin %>
  <div class="admin">
    <%= link_to "Edit this blog", edit_blog_path(@blog) %> |
    <%= link_to "Back to blogs", admins_path %>
    <%= button_to "Destroy this blog", @blog, method: :delete %>
  </div>
<% else %>
  <div class="general_user">
    <%= link_to "Back to blogs", blogs_path %>
  </div>
<% end %>

<%= render partial: 'comments/comment', locals: { comment: @comment, blog: @blog } %>

<%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>
