<p style="color: green"><%= notice %></p>

<h1>Admin</h1>

<h2>Blogs</h2>
<% @blogs.each do |blog| %>
  <div id="<%= dom_id blog %>">
    <div class="output">
      <strong>Title:</strong>
      <%= link_to blog.title, blog %>
    </div>
  </div>
<% end %>

<h2>New blog</h2>
<div id="form">
  <%= render "blogs/form", blog: @blog %>
</div>

<%= button_to "Logout", destroy_admin_session_path, method: :delete %>
