<p style="color: green"><%= notice %></p>

<h1>Admin</h1>

<h2>Blogs</h2>
<div id="blogs">
  <% @blogs.each do |blog| %>
    <%= render blog %>
    <p>
      <%= link_to "Show this blog", blog %>
    </p>
  <% end %>
</div>

<h2>New blog</h2>
<div id="form">
  <%= render "blogs/form", blog: @blog %>
</div>

<%= button_to "Logout", destroy_admin_session_path, method: :delete %>
