<div class="top">
  <h1 class="admin_title"><%= t('views.common.admins.admin_title', name: Admin.model_name.human) %></h1>
</div>

<div class="admin_contents">
  <div class="admin_content">
    <div class="new_blogs_form">
      <h2 class="admin_contents_title"><%= t('views.common.blogs.new', name: Blog.model_name.human) %></h2>
      <%= render "blogs/form", blog: @blog %>
    </div>

    <div class="blogs_index">
      <h2 class="admin_contents_title"><%= t('views.common.blogs.index', name: Blog.model_name.human) %></h2>
      <% @blogs.each do |blog| %>
        <div id="<%= dom_id blog %>">
          <div class="title_output">
            <strong>Title:</strong>
            <%= link_to blog.title, blog %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="session">
    <div class="logout">
      <%= button_to t('views.common.admins.logout', name: Admin.model_name.human.downcase), destroy_admin_session_path, method: :delete %>
    </div>
  </div>

<h2>MT形式データインポート</h2>

  <%= form_with url: import_mt_blogs_path, local: true, multipart: true do |f| %>
    <%= f.file_field :file, accept: ".txt,.mt" %>
    <%= f.submit "インポート", class: "btn btn-primary" %>
  <% end %>

</div>
