<p style="color: green"><%= notice %></p>

<div class="top">
  <h1 class="admin_title">Admin</h1> 
</div>

<div class="admin_contents">
  <div class="admin_content">
    <div class="new_blogs_form">
      <h2 class="admin_contents_title">new_blogs</h2>
      <%= render "blogs/form", blog: @blog %>
    </div>

    <div class="blogs_index">
      <h2 class="admin_contents_title">blogs_index</h2>
      <% @blogs.each do |blog| %>
        <div id="<%= dom_id blog %>">
          <div class="title_output">
            <strong>Title:</strong>
            <%= link_to blog.title, blog %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="session">
    <div class="logout">
      <%= button_to "Logout", destroy_admin_session_path, method: :delete %>
    </div>
  </div>
</div>
