<% @blog.comments.each do |comment| %>
  <div id="<%= dom_id comment %>">
    <div class="output">
      <strong><%= Comment.human_attribute_name(:user_name) %></strong>
      <%= comment.user_name %>
    </div>

    <div class="output">
      <strong><%= Comment.human_attribute_name(:comment) %></strong>
      <%= comment.comment %>
    </div>

  </div>
<% end %>
