<p style="color: green"><%= notice %></p>

<%= render @model_name %>

<div>
  <%= link_to "Edit this model name", edit_model_name_path(@model_name) %> |
  <%= link_to "Back to model names", model_names_path %>

  <%= button_to "Destroy this model name", @model_name, method: :delete %>
</div>
