<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="flash-message-container">
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>
    <%= yield %>
<%# <テスト記述> %>
    <%# <div id="dialog"> %>
      <%# <div class="dialog-window"> %>
        <%# <p>Hello,Dialog!</p> %>
        <%# <div id="notice"><%= flash[:notice] %></div> %>
        <%# <div id="alert"><%= flash[:alert] %></div> %>
        <%# <button id="closer">CLOSE</button> %>
      <%# </div> %>
    <%# </div> %>
<%# <テスト記述> %>
  </body>
</html>
