<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="modal_dialog">
      <div class="modal_content">
        <div class="modal_header">
          <h5 class="modal_title">通知</h5>
        </div>
        <div class="modal_body">
          <div class="notice"><%= flash[:notice] %></div>
          <div class="alert"><%= flash[:alert] %></div>
        </div>
        <div class="modal_footer">
          <button type="button" class="close_button" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
