<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="notice"><%= flash[:notice] %></div>
    <div class="alert"><%= flash[:alert] %></div>
    <%= yield %>

<%# テスト記述 %>
    <div id="dialog">
      <div class="dialog-window">
        <p>Hello,Dialog!</p>
        <button id="closer">CLOSE</button>
      </div>
    </div>

    <button id="opener">OPEN</button>
<%# テスト記述 %>
  </body>
</html>
