<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# ここから %>
    <p id="notice" class="green-text" data-notice="<%= flash[:notice] %>"><%= flash[:notice] %></p>
    <p id="alert" class="red-text" data-alert="<%= flash[:alert] %>"><%= flash[:alert] %></p>
    <%# ここについては作業保留 %>
    <%= yield %>
  </body>
</html>
