<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="notice"><%= flash[:notice] %></div>
    <div class="alert"><%= flash[:alert] %></div>
<!--     <div class="notice" data-notice="<%= flash[:notice] %>"><%= flash[:notice] %></div>
    <div class="alert" data-alert="<%= flash[:alert] %>"><%= flash[:alert] %></div> -->
<!--     <div class="notice">"正"</div>
    <div class="alert">"誤"</div> -->
    <%= yield %>
  </body>
</html>
